<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h2 class="footer-heading">About Us</h2>
        <p>"Welcome to our app, where we're dedicated to some useful websites for people.With a passion for developing apps, our team strives to successful fisinsh the application"</p>
      </div>
      <div class="footer-section">
        <h2 class="footer-heading">Quick Links</h2>
        <ul class="footer-links">
          <li><a>Home</a></li>
          <li><a >Services</a></li>
          <li><a >Products</a></li>
          <li><a >Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2 class="footer-heading">Connect With Us</h2>
        <div class="footer-social">
          <a ><i class="fab fa-facebook"></i></a>
          <a ><i class="fab fa-twitter"></i></a>
          <a ><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <p>&copy; 2023 Task Navigator. All rights reserved.</p>
     
    </div>
  </div>
</footer>
