.full-width {
  /* width: 100%; */
  font-family: "Roboto Slab", serif;
  padding-left: 15px;
}

.formbg {
  /* background: rgb(58, 105, 96);
  background: linear-gradient(
    137deg,
    rgba(58, 105, 96, 0.9528186274509804) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */
  /* height: 700px; */
  /* background-image: url(../../assets/images/hd-bg-photo-city.avif); */
  background-image: url("../../assets/images/yello-bg-photo.avif");
  background-size: cover;
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* margin-top: -160px;
    margin-top: -2px; */
  /* padding: 20px; */
  /* height: 100vh; */
  /* z-index: 10; */
  padding-bottom: 20px;
}

.shipping-card {
  width: 50px;
  /* margin: 130px auto; */
  margin-left: 600px;
  border: none;
  width: 500px;
  height: 650px;
  box-shadow: 1px 2px 3px 4px rgba(17, 17, 17, 0.4);
  justify-content: center;
  background-color: transparent;
}

/* .mat-radio-button {
  display: block;
  margin: 5px 0;
} */

/* .row {
  display: flex;
  flex-direction: row;
} */

.col {
  /* border: 2px solid red; */
  /* background: white; */
  width: 500px;
  padding: 20px;
  display: block;
  text-align: center;
}

.col:last-child {
  margin-right: 0;
}

/* .header {
  padding-left: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
} */

/* .button {
  padding: 20px;
  font-size: 100%;
  margin-left: 130px;
   
  font-family: "Roboto Slab", serif;
} */

#formm:valid .button {
  /* background : green; */
  background: linear-gradient(
    137deg,
    #552414 0%,
    rgb(133, 66, 15) 50%,
    #2b220b 100%
  );
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  /* color: #ffffff; */
  /* background: #008060; */
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.resetbtn {
  padding: 20px;
  font-size: 100%;
  margin-left: 15px;
  font-family: "Roboto Slab", serif;
  color: #9c9a29;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: black;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

/* .material-icons {
  cursor: pointer;
}

.material-icons:hover {
  background-color: aqua;
  border-radius: 10px;
} */

mat-card-title {
  color: white;
  font-size: 20px;
  margin-left: 110px;
  margin-bottom: 25px;
}

.text1 {
  color: rgb(0, 0, 0);
}

/* .text2 {
  color: white;
  font-size: 17px;
  margin-left: 49%;
} */

form {
  margin-top: 10px;
}

.info {
  display: flex;
  padding-top: 10px;
}

#appicon {
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
  padding-left: 20px;
  font-size: 40px;
 
  background: #f7f7f6;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 37px;
}

mat-form-field {
  font-size: 120%;
}

 
.title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  margin-left: 250px;
}

strong {
  font-size: 15px;
  color: rgba(58, 105, 96, 0.9528186274509804);
  font-style: normal;
}

mat-icon {
  color: rgb(255, 255, 255);
}

.mat-icon:hover {
  background-color: transparent;
}

mat-card-content {
  padding: 0px;
  margin: 0px;
  border: 1px solid rgb(58, 105, 96);
}
